<perfect-scrollbar #perfectScroll style="height: 380px">
  <div id="container" class="all-message-container">
    <div
      *ngFor="let message of messages | async"
      class="message-container"
      [ngClass]="message.type"
    >
      <div>
        <p class="message">
          {{ message?.message }} <span class="time"> {{ message?.time }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="message-input-container">
    <textarea class="message-input" rows="2" [(ngModel)]="message"></textarea>
    <button class="send-button" (click)="onClickSend()">Send</button>
  </div>
</perfect-scrollbar>
